

<div class="side-body">
    <div class="container-fluid">
      <form>
        <fieldset class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title">
        </fieldset>
      </form>
    </div>
    <div id="editor" placeholder="content">
    </div>
</div>
