

<div class="side-body">
    <div class="container-fluid">

      <form action="/blogs" method="POST" id="form-list">

        <div class="field">
          <!-- <label for="formGroupExampleInput">Title</label> -->
          <input type="text" name="blog[title]"  class="input-title input-size" id="formGroupExampleInput" placeholder="Title">
        </div>
        <!-- </fieldset> -->
        <div class="field">
          <textarea id="editor" name="blog[body]" style="height: 90vh; border:none;"></textarea>
        </div>
        <input type="submit" value="Submit">
      </form>

    </div>

</div>
