<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->

    <!--inject:css-->
    <link rel="stylesheet" href="/css/main.min.css">
    <!--endinject-->

  </head>
  <body>
    


    {{{body}}} <!--ejs equiv = <% %>-->
    <!--bower:js-->
    <script src='/lib/jquery/dist/jquery.min.js'></script>
    <script src='/lib/bootstrap/dist/js/bootstrap.min.js'></script>
    <!--endbower-->

    <!--inject:js-->
    <script src="/js/main.js"></script>
    <!--endinject-->

    <!-- <script>window.jQuery || document.write('<script src="/lib/jquery/dist/jquery.min.js"><\/script>')</script> -->

  </body>
</html>
