<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Site Handblebars</title>
    <!--bower:css-->
    <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../public/lib/normalize-css/normalize.css" />
    <!--endbower-->

    <!--inject:css-->
    <link rel="stylesheet" href="/css/main.min.css">
    <!--endinject-->

  </head>
  <body>

    {{{body}}} <!--ejs equiv = <% %>-->



    <!--bower:js-->
    <script src="../../public/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--endbower-->

    <!--inject:js-->
    <script src="/js/main.js"></script>
    <!--endinject-->
  </body>
</html>
