// @import "_global.scss";
@include special-breakpoint1 {
    //desktop
    .side-body {

        overflow: hidden;
        border: none;
        height: auto;
        max-width: 50%;
        margin: 0 auto;
        position: relative;
        padding: 32px 32px 32px 304px;

        .btn-group {
            @extend .btn-group;
            .btn {
                @extend .btn;
            }
        }
    }
    //end breakpoint
}
