@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
$font-stack: 'Open Sans','sans-serif';


img {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

a {
  font-family: $font-stack;
}
p{
  font-family: $font-stack;
}

body {
  $font-stack: 'openSans','sans-serif';
}


// #0b132b
// #1c2541
// #3a506b
// #5bc0be
// #6fffe9
//#373F51


// #1B1B1E  // navbar color
// #58A4B0 //content border color
// #88D498 // logocolor



$nav-color: #1B1B1E;
$secondary-color: #1c2541;
$tertiary-color:  #3a506b;
$li-border-color: #e7e7e7;
$icon-link-color: #fff;
$nav-toggle-color: #373F51;
$nav-toggle-hover: #1c2541;
