@import '_mixins/breakpoints.scss'; // $nav-color: #373F51;
// $nav-color: #373F51;
// $secondary-color: #1c2541;
// $tertiary-color:  #3a506b;
// $li-border-color: #e7e7e7;
// $icon-link-color: #fff;
// $nav-toggle-color: #373F51;
// $nav-toggle-hover: #0b132b;
//max width = mobile
// min width = desktop
// ***********************************************
// ***********************************************
@include breakpoint-max-1200 {
  // Mobile
  //Navbar mobile styles
  .navbar-default {
    //li center vertical
    .navbar-right {
      ul.nav {
        &.navbar-nav {
          padding: 12px 0;
        }
      }
    }
    .navbar-nav {
      > li a {
        color: white;
      }
      .active a {
        color: white;
        background: $nav-color;
      }
    }

    .navbar-brand {
      height: auto;
      display: block;
      color: white;
      .logo {
        width: 40px;
        height: 40px;
      }
    }
    .navbar-brand {
      color: white;
    }
    //Navbar-toggle Styles
    .navbar-toggle {
      padding: 10px;
      margin: 8px 15px;
      border: none;
      // background-color: $nav-toggle-color;
      // background: #fff;
      border-radius: 0;
      .icon-bar {
        background-color: #fff;
      }
      &:link {
        background-color: $nav-toggle-color;
      }
      &:visited {
        background-color: $nav-toggle-color;
      }
      &:focus {
        background-color: $nav-toggle-color;
      }
      &:hover {
        transition: all 0.8s;
        background-color: $nav-toggle-hover;
      }
      &:active {
        // transition: all 0.2s;
        background-color: $nav-toggle-color;
      }
    }
  }
}
// ******************************************************
/*Do this second*/
/*Animations set for full screen 1200px*/
// ******************************************************
@include breakpoint-max-1200 {
   @keyframes slidein{
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  .side-menu {
    // width: 100%;
    border-right: 0;
  }
  .side-body {
    position: relative;
    animation: bodyslideout 300ms forwards;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    &.slide-in {
      animation: slidein 300ms forwards;
      transform-style: preserve-3d;
    }
  }
}
//Mobile
.navbar-default {
  border: none;

  .navbar-nav {
    > li a {
      color: white;
    }
    .active a {
      color: white;
      background: $nav-color;
    }
  }
  .navbar-brand {
    color: white;
  }
  //Navbar-toggle Styles
  .navbar-toggle {
    padding: 10px;
    margin: 20px 15px;
    border: none;
    // background-color: $nav-toggle-color;
    // background: #fff;
    border-radius: 0;
    .icon-bar {
      background-color: #fff;
    }
    &:link {
      background-color: $nav-toggle-color;
    }
    &:visited {
      background-color: $nav-toggle-color;
    }
    &:focus {
      background-color: $nav-toggle-color;
    }
    &:hover {
      transition: all 0.8s;
      background-color: $nav-toggle-hover;
    }
    &:active {
      // transition: all 0.2s;
      background-color: $nav-toggle-color;
    }
  }
}
.side-menu-container {
  &.navbar-collapse.collapse {
    margin-right: 0;
    &.navbar-right {
      margin: 0;
    }
    ul.nav.navbar-nav {
      li {
        .active {
          margin: 20px;
        }
      }
    }
  }
}
// .side-menu-container.navbar-collapse.collapse.navbar-right {
//   margin: 12px 0;
// }
