@import '_mixins/_breakpoints.scss';
.row {
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}
.navbar {
  border-radius: 0;
  background: $nav-color;
}
// ***********************************************************************
//side-body is inside of the parent side-menu
// ***********************************************************************
@include breakpoint-min-1200 {
  //desktop view
  //.side-menu class selector

  .side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background: $nav-color;
    // border-right: 1px solid $li-border-color;
    .navbar {
      border: none;
    }
    .navbar-header {
      width: 100%;
      padding: 20px;
      float: none;
      // border-bottom: 1px solid $li-border-color;
      a.navbar-brand {
        height: auto;
        display: block;
        color: white;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .logo {
          display: block;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
// ***********************************************************************
//Second breakpoint for side-menu-container parent
//  - .side-menu - parent
//    - .side-menu-container second parent
//#2db34a
//#ff7b29
// ***********************************************************************
@include breakpoint-min-1200 {
   @keyframes fade-in{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .side-menu-container {
    &.navbar-right {
      display: block;
      padding: 0;
      margin: 0 auto;
    }
    .navbar-nav {
      .active {
        > a {
          color: $icon-link-color;
          background-color: $nav-color;
          &:hover {
            background-color: $icon-link-color;
            transition: all 0.3s linear;
            animation: fade-in 0.4s linear;
          }
          &:active {
            color: white;
            background-color: #46494C;
          }
          &:focus{
            color: white;
            background-color: $nav-color;
          }
        }
      }
      li.dashboard {
        margin: 0 auto;
        display: block;
        width: 100%;
        // border-bottom: 1px solid $li-border-color;
        a {
          // Edit later
          padding: 20px 10px;
          // border-top: solid 1px #fff;
          // border-bottom: solid 1px #fff;
          color: $icon-link-color;
          .dashboard-link {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
        //end li dashboard class
      }
      //End navbar-nav tree
    }
    //side-menu container
    li.profile {

      // border: solid 1px #fff;
      border-top: solid 1px #fff;
      border-bottom: solid 1px #fff;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 30px 20px;


      // padding: 40px 60px;

      .img-placeholder {
        position: relative;

        padding: 10px;
        margin: 0;
        display: inline-block;
        margin:0;
        height: 100px;
        width: 100px;

        left: 50%;
        transform: translateX(-50%);
        img {

          margin: 0 auto;
          display: inline-block;
          overflow: hidden;
          border-radius: 100%;
          position: absolute;

          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: 100%;
          transform: translate(-50%, -50%);

        }
        //End img-placeholder
      }
      .text-placeholder {
        text-align: center;
        padding: 10px;
        display: block;
        vertical-align: middle;
        h1 {
          line-height: 2;
          margin: 0;
          font-size: 20px;
          color: white;
        }
        h2 {
          margin: 0;
          font-size: 16px;
          color: white;
        }
        // .links {
        //   overflow: hidden;
        //   a {
        //     text-decoration: none;
        //     color: white;
        //   }
        //   &:nth-last-child(2) {
        //     margin-top: 24px;
        //     float: right;
        //   }
        //   &:nth-last-child(1) {
        //     margin-top: 24px;
        //     float: left;
        //   }
        // }
        //End text-placeholder
      }
      //End Profile
    }
    //end side-menu container
  }
}
// ***********************************************************************
// Profile + img-placeholder + text-placeholder in sidebar
// ***********************************************************************
// profile + img placeholder
/*profile + imgplaceholder*/
