.trumbowyg-box,
.trumbowyg-editor {
    margin: 0;
    width: 100%;
    // overflow: hidden;
}
#form-list {
    padding: 10px 0;
}
.trumbowyg-editor.trumbowyg-reset-css {
    height: 600px;
}
// #formlist {
.field {
    padding: 20px 0;
}
img {
    max-width: 100%;
    height: auto;
}

.input-title {
	width: 100%;
	border: none;
	border-radius: 0;
	background: transparent;;
	color: #000;
	font-weight: 400;
	// font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  appearance: none; /* for box shadows to show on iOS */


  &:active {
    outline: none;
    background:transparent !important;
  }
  &:focus{
    outline: none;
    background:transparent !important;
  }
  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
  }
}

.input-size {
	max-width: 100%;
	background:transparent;
	color: #000;
  border-bottom: solid 1px #000;
  font-size: 30px;
}
