<h1>This is index</h1>
<div class="main">
  <h2>This is the header inside our main.handle bars file</h2>
</div>

<div class="main2">
  <h2>This is the footer inside our main.handlebars file</h2>
</div>
